<p>
  The aim of this workshop is to help researchers improve
  their computational research techniques. This hands-on
  workshop will use <a href="{{site.swc_site}}">Software Carpentry</a>
  material to teach UNIX shell scripting, version control,
  and task automation. It will will also introduce the 
  researchers to High Performance Computing (HPC) environments,
  using the new <a href="{{https://www.archer2.ac.uk/}}">ARCHER2</a> service.
  
  The first half of the course will be guided teaching, following 
  Software Carpentry principles. The second half of the course will be
  dedicated to project work, giving the participants time to apply
  these new concepts to their own research work, with the benefit of
  advice from the tutors, and other participants, to do this.
  There will also be dedicated time in the schedule for participants to
  socialise and network.
  
  In March, as a separate day event, our partners at <a href="https://www.nag.com/">NAG</a>
  will introduce participants to cloud computing. This will give an overview of
  the cloud, what it is, how to access it, and how to manage costs; as well as
  guiding participants on how to run workflows in the cloud, focusing on working
  with docker containers.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see Software Carpentry's paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
